@import url("load-page.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, PlayFair, sans-serif;
}

body {
  background-image: url("../images/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 23, 42, 0.9);
}

a {
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

.text-yellow {
  color: #b99314 !important;
}

.text-blue {
  color: #000102 !important;
}

.menu-btn {
  position: fixed;
  z-index: 4;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  height: 3px;
  width: 28px;
  margin: 0 0 5px 0;
  background-color: #FFFFFF;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-11px, 11px);
          transform: rotate(-45deg) translate(-11px, 11px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(0px, 0px);
          transform: rotate(45deg) translate(0px, 0px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-brand, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  opacity: 0.95;
}

.menu-nav {
  background: #060c16;
  list-style: none;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu-brand {
  background: #0B172A;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-brand.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-brand .menu-portrait-wrp {
  width: 250px;
  height: 250px;
  position: relative;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: #FFFFFF;
}

.menu-brand .menu-portrait-wrp .menu-portrait {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 242px;
  height: 242px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-image: url("../images/self_portrait.jpg");
  background-size: cover;
  background-position: 50% 0%;
}

.menu .nav-item {
  -webkit-transform: translate3d(0, 2000px, 0);
          transform: translate3d(0, 2000px, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
  color: #b99314;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.nav-item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.nav-item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.nav-item:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

#wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
}

#wrapper::before {
  content: "";
  position: fixed;
  height: 80vh;
  width: 80vh;
  top: 10vh;
  left: calc((100vw - 80vh) / 2);
  background-color: rgba(6, 12, 22, 0.4);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

#wrapper .pages {
  width: 100%;
  height: 100%;
  position: relative;
}

#wrapper .pages::before {
  content: "";
  position: fixed;
  top: calc(10vh + 12px);
  left: calc(((100vw - 80vh) / 2) + 12px);
  height: calc(80vh - 24px);
  width: calc(80vh - 24px);
  background-color: rgba(95, 141, 213, 0.2);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

#wrapper .pages .page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#wrapper .pages .page.show {
  top: 0;
  opacity: 1;
}

#wrapper .pages .page footer {
  width: 100%;
  height: 10vh;
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper .pages #home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrapper .pages #home h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#wrapper .pages #home div {
  height: 2rem;
  font-size: 2rem;
}

#wrapper .pages #home .text-type {
  -webkit-animation: setBlingBorder 1s infinite;
          animation: setBlingBorder 1s infinite;
  color: #FFFFFF;
}

@-webkit-keyframes setBlingBorder {
  from {
    border-right: 2px solid white;
  }
  to {
    border: none;
  }
}

@keyframes setBlingBorder {
  from {
    border-right: 2px solid white;
  }
  to {
    border: none;
  }
}

#wrapper .pages #about {
  padding: 90px 50px 0px 50px;
  color: #FFFFFF;
}

#wrapper .pages #about h1 {
  text-align: start;
  margin: 0;
  font-weight: 400;
  font-size: 3rem;
}

#wrapper .pages #about h2 {
  text-align: start;
  margin: 0;
  font-weight: 200;
  font-size: 1.5rem;
}

#wrapper .pages #about .about-infos {
  height: 100%;
  padding-top: 2rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
      grid-template-areas: 'bioimage bio bio' 'school1 school2 school3';
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#wrapper .pages #about .about-infos .about-portrait-wrp {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
  width: 250px;
  height: 250px;
  padding: 4px;
  margin: auto;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: #FFFFFF;
}

#wrapper .pages #about .about-infos .about-portrait-wrp .about-portrait {
  width: 242px;
  height: 242px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-image: url("../images/self_portrait.jpg");
  background-size: cover;
  background-position: 50% 0%;
}

#wrapper .pages #about .about-infos .bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
  font-size: 1.5rem;
  text-align: start;
  margin: auto;
}

#wrapper .pages #about .about-infos .bio h3 {
  margin-bottom: 0.5rem;
}

#wrapper .pages #about .about-infos .schools {
  padding: 0.5rem;
  text-align: start;
  margin: auto;
}

#wrapper .pages #about .about-infos .school-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: school1;
}

#wrapper .pages #about .about-infos .school-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: school2;
}

#wrapper .pages #about .about-infos .school-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: school3;
}

#wrapper .pages #about footer {
  position: relative;
}

@media screen and (max-width: 768px) {
  .menu .menu-brand,
  .menu .menu-nav {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu .menu-brand.show,
  .menu .menu-nav.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu .menu-brand {
    height: 25vh;
  }
  .menu .menu-brand .menu-portrait-wrp {
    width: 15vh;
    height: 15vh;
  }
  .menu .menu-brand .menu-portrait-wrp .menu-portrait {
    width: calc(15vh - 4px);
    height: calc(15vh - 4px);
    top: 2px;
    left: 2px;
  }
  .menu .menu-nav {
    height: 75vh;
  }
  .menu .menu-nav .nav-item > .nav-link {
    font-size: 20px;
  }
  #wrapper::before {
    height: 80vw;
    width: 80vw;
    top: calc((100vh - 80vw)/2);
    left: 10vw;
  }
  #wrapper .pages::before {
    height: calc(80vw - 25px);
    width: calc(80vw - 25px);
    top: calc(((100vh - 80vw)/2) + 12.5px);
    left: calc(10vw + 12.5px);
  }
  #wrapper .pages .page {
    width: 100%;
  }
  #wrapper .pages #home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  #wrapper .pages #home div {
    height: 2rem;
    font-size: 2rem;
  }
  #wrapper .pages #about .about-infos {
        grid-template-areas: 'bioimage' 'bio' 'school1' 'school2' 'school3';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  /*#wrapper {
    .pages {
      #home {
        h1 {
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        div {
          height: 1rem;
          font-size: 1rem;
        }
      }
    }
  }*/
}
