@import url("load-page.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, PlayFair, sans-serif;
}

body {
  background-image: url("../images/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(11, 23, 42, 0.9);
}

a {
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

.text-yellow {
  color: #b99314 !important;
}

.text-blue {
  color: #0B172A !important;
}

.menu-btn {
  position: absolute;
  z-index: 4;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  height: 3px;
  width: 28px;
  margin: 0 0 5px 0;
  background-color: #FFFFFF;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-11px, 11px);
          transform: rotate(-45deg) translate(-11px, 11px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(0px, 0px);
          transform: rotate(45deg) translate(0px, 0px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-brand, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  opacity: 0.95;
}

.menu-nav {
  background: #060c16;
  list-style: none;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu-brand {
  background: #0B172A;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-brand.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-brand .menu-portrait-wrp {
  width: 250px;
  height: 250px;
  position: relative;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: #FFFFFF;
}

.menu-brand .menu-portrait-wrp .menu-portrait {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 242px;
  height: 242px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-image: url("../images/self_portrait.jpg");
  background-size: cover;
  background-position: 50% 0%;
}

.menu .nav-item {
  -webkit-transform: translate3d(0, 2000px, 0);
          transform: translate3d(0, 2000px, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
  color: #b99314;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.nav-item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.nav-item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.nav-item:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

#wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
}

#wrapper::before {
  content: "";
  position: fixed;
  height: 100vh;
  width: 100vh;
  left: calc((100vw - 100vh) / 2);
  background-color: rgba(0, 1, 2, 0.1);
  -webkit-clip-path: polygon(50% 10%, 89% 32.5%, 89% 67.5%, 50% 90%, 11% 67.5%, 11% 32.5%);
          clip-path: polygon(50% 10%, 89% 32.5%, 89% 67.5%, 50% 90%, 11% 67.5%, 11% 32.5%);
}

#wrapper::after {
  content: "";
  position: absolute;
  top: 12.5px;
  left: calc(((100vw - 100vh) / 2) + 12.5px);
  height: calc(100vh - 25px);
  width: calc(100vh - 25px);
  z-index: -1;
  background-color: rgba(95, 141, 213, 0.2);
  -webkit-clip-path: polygon(50% 10%, 89% 32.5%, 89% 67.5%, 50% 90%, 11% 67.5%, 11% 32.5%);
          clip-path: polygon(50% 10%, 89% 32.5%, 89% 67.5%, 50% 90%, 11% 67.5%, 11% 32.5%);
}

#wrapper .pages {
  height: 100vh;
  width: 100%;
  position: absolute;
}

#wrapper .pages .page {
  position: absolute;
  height: 100vh;
  width: 100vh;
  top: -100%;
  left: calc((100vw - 100vh) / 2);
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#wrapper .pages .page.show {
  top: 0;
  left: calc((100vw - 100vh) / 2);
  opacity: 1;
}

#wrapper .pages #home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrapper .pages #home h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#wrapper .pages #home div {
  height: 2rem;
  font-size: 2rem;
}

#wrapper .pages #home .text-type {
  -webkit-animation: setBlingBorder 1s infinite;
          animation: setBlingBorder 1s infinite;
  color: #FFFFFF;
}

@-webkit-keyframes setBlingBorder {
  from {
    border-right: 2px solid white;
  }
  to {
    border: none;
  }
}

@keyframes setBlingBorder {
  from {
    border-right: 2px solid white;
  }
  to {
    border: none;
  }
}

#wrapper footer {
  width: 100%;
  height: 10vh;
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .menu .menu-brand, .menu .menu-nav {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu .menu-brand.show, .menu .menu-nav.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu .menu-brand {
    height: 25vh;
  }
  .menu .menu-brand .menu-portrait-wrp {
    width: 15vh;
    height: 15vh;
  }
  .menu .menu-brand .menu-portrait-wrp .menu-portrait {
    width: calc(15vh - 4px);
    height: calc(15vh - 4px);
    top: 2px;
    left: 2px;
  }
  .menu .menu-nav {
    height: 75vh;
  }
  .menu .menu-nav .nav-item > .nav-link {
    font-size: 20px;
  }
  #wrapper .hexas .hexagon {
    width: 100vw;
    height: 100vw;
  }
  #wrapper .hexas #hexa1 h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  #wrapper .hexas #hexa1 div {
    height: 2rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  #wrapper .hexas #hexa1 h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  #wrapper .hexas #hexa1 div {
    height: 1rem;
    font-size: 1rem;
  }
}
