//widescreens

@include screenXL{

}

//desktops & laptops

@include screenLg{
    
}

//tablets & small laptops

@include screenMd{
    //menu overlay
    .menu{
        .menu-brand, .menu-nav{
            float: none;
            width: 100%;
            min-height: 0;

            &.show{
                transform: translate3d(0, 0, 0);
            }
        }

        .menu-brand{
            height: 25vh;

            .menu-portrait-wrp{
                width: 15vh;
                height: 15vh;

                .menu-portrait{
                    width: calc(15vh - 4px);
                    height: calc(15vh - 4px);
                    top: 2px;
                    left: 2px;
                }
            }
        } 
        
        .menu-nav{
            height: 75vh;
            .nav-item > .nav-link{
                font-size: 20px;
            }
        }
    }

    //hexagons overlay
    #wrapper{
        .hexas{
            .hexagon{
                width: 100vw;
                height: 100vw;
            }

            #hexa1{
                h1{
                    font-size: 3rem;
                    margin-bottom: 1rem;
                }
    
                div{
                    height: 2rem;
                    font-size: 2rem;
                }
            }
        }
    }
}

//smartphones

@include screenSm{

    #wrapper{
        .hexas{
            #hexa1{
                h1{
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }
    
                div{
                    height: 1rem;
                    font-size: 1rem;
                }
            }
        }
    }
    
}