//widescreens

@include screenXL {
}

//desktops & laptops

@include screenLg {
}

//tablets & small laptops

@include screenMd {
  //menu overlay
  .menu {
    .menu-brand,
    .menu-nav {
      float: none;
      width: 100%;
      min-height: 0;

      &.show {
        transform: translate3d(0, 0, 0);
      }
    }

    .menu-brand {
      height: 25vh;

      .menu-portrait-wrp {
        width: 15vh;
        height: 15vh;

        .menu-portrait {
          width: calc(15vh - 4px);
          height: calc(15vh - 4px);
          top: 2px;
          left: 2px;
        }
      }
    }

    .menu-nav {
      height: 75vh;
      .nav-item > .nav-link {
        font-size: 20px;
      }
    }
  }

  //pages overlay
  #wrapper {
    &::before {
      height: 80vw;
      width: 80vw;
      top: calc((100vh - 80vw)/2);
      left: 10vw;
    }

    .pages {

      &::before {
        height: calc(80vw - 25px);
        width: calc(80vw - 25px);
        top: calc(((100vh - 80vw)/2) + 12.5px);
        left: calc(10vw + 12.5px);
      }

      .page {
        width: 100%;
      }

      #home {
        h1 {
          font-size: 3rem;
          margin-bottom: 1rem;
        }

        div {
          height: 2rem;
          font-size: 2rem;
        }
      }

      #about{
        height: 100%;

        .about-infos{
          grid-template-areas: 
            'bioimage'
            'bio'
            'school1'
            'school2'
            'school3';
            
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

//smartphones

@include screenSm {
  /*#wrapper {
    .pages {
      #home {
        h1 {
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        div {
          height: 1rem;
          font-size: 1rem;
        }
      }
    }
  }*/
}
