@import "config";
@import "menu";
@import url("load-page.css");

#wrapper {
  height: auto;
  width: 100%;
  position: relative;

  &::before {
    content: "";
    position: fixed;
    height: 80vh;
    width: 80vh;
    top: 10vh;
    left: calc((100vw - 80vh) / 2);
    background-color: rgba(darken($blue, 5), 0.4);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

  .pages {
    width: 100%;
    min-height: calc(100vh - 3rem);
    position: relative;

    &::before {
      content: "";
      position: fixed;
      top: calc(10vh + 12px);
      left: calc(((100vw - 80vh) / 2) + 12px);
      height: calc(80vh - 24px);
      width: calc(80vh - 24px);
      background-color: rgba(lighten($blue, 50), 0.2);
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }

    .page {
      position: absolute;
      width: 100%;
      min-height: calc(100vh - 3rem);
      top: -100%;
      opacity: 0;
      @include easeOut(1s);

      &.show {
        //main css of class show
        top: 0;
        opacity: 1;
        position: relative;
      }
    }

    #home {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      div {
        height: 2rem;
        font-size: 2rem;
      }

      .text-type {
        animation: setBlingBorder 1s infinite;
        color: $white;
      }

      @keyframes setBlingBorder {
        from {
          border-right: 2px solid white;
        }
        to {
          border: none;
        }
      }
    }

    #about {
      padding: 90px 50px 0px 50px;
      color: $white;
      height: max-content;

      h1 {
        text-align: start;
        margin: 0;
        font-weight: 400;
        font-size: 3rem;
      }

      h2 {
        text-align: start;
        margin: 0;
        font-weight: 200;
        font-size: 1.5rem;
      }

      .about-infos {
        padding-top: 3rem;
        display: grid;
        grid-gap: 30px;
        grid-template-areas: "bioimage bio bio" "school1 school2 school3";
        grid-template-columns: repeat(3, 1fr);

        .about-portrait-wrp {
          grid-area: bioimage;
          width: 250px;
          height: 250px;
          padding: 4px;
          margin: auto;
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          background: $white;

          .about-portrait {
            width: 242px;
            height: 242px;
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            background-image: url("../images/self_portrait.jpg");
            background-size: cover;
            background-position: 50% 0%;
          }
        }

        .bio {
          grid-area: bio;
          font-size: 1.5rem;
          text-align: start;
          margin: auto;

          h3 {
            margin-bottom: 0.5rem;
          }
        }

        .schools {
          padding: 0.5rem;
          text-align: start;
          margin: 0 auto;
        }

        .school-1 {
          grid-area: school1;
        }

        .school-2 {
          grid-area: school2;
        }

        .school-3 {
          grid-area: school3;
        }
      }
    }

    #mywork {
      padding: 90px 50px 0px 50px;
      color: $white;

      h1 {
        text-align: start;
        margin: 0;
        font-weight: 400;
        font-size: 3rem;
      }

      h2 {
        text-align: start;
        margin: 0;
        font-weight: 200;
        font-size: 1.5rem;
      }

      .myworks {
        margin: 2rem 0;
        display: grid;
        grid-gap: 0px 50px;
        grid-template-columns: auto auto auto auto auto auto;

        .work-item {
          width: 100%;
          height: calc((100vw - 200px) / 3); //window's 100% width minus paddings and gaps
          padding: 4px;
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          background-color: $yellow;

          &:hover{
            background-color: $blue;
          }

          .work {
            width: 100%;
            height: 100%;
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            background-position: center;
            background-repeat: no-repeat;
            background-color: $blue;
            transform-style: preserve-3d;
            @include easeOut(1s);
          }

          .work1 {
            background-size: 90% auto;
            background-image: url("../images/ref1-logo.png");

            &:hover{
              background-color: $white;
              background-image: url("../images/ref1-logo-inverse.png");
            }
          }

          .work2 {
            background-size: 40% auto;
            background-image: url("../images/ref2-logo.png");

            &:hover{
              background-color: $white;
              background-image: url("../images/ref2-logo-inverse.png");
            }
          }

          .work3 {
            background-size: 40% auto;
            background-image: url("../images/ref2-logo.png");

            &:hover{
              background-color: $white;
              background-image: url("../images/ref2-logo-inverse.png");
            }
          }

          .work4 {
            background-size: 40% auto;
            background-image: url("../images/ref2-logo.png");

            &:hover{
              background-color: $white;
              background-image: url("../images/ref2-logo-inverse.png");
            }
          }

          .work5 {
            background-size: 40% auto;
            background-image: url("../images/ref2-logo.png");

            &:hover{
              background-color: $white;
              background-image: url("../images/ref2-logo-inverse.png");
            }
          }

          //set every 4th grid gap 2/4
          @for $nth from 1 through 100{
            @if($nth%4 == 0){
              &:nth-child(#{$nth}){
                grid-column: 2/4;
              }
            }@else{
              &:nth-child(#{$nth}){
                grid-column-end: span 2;
              }
            }
          }
        }
      }
    }
  }

  #footer{
    position: relative;
    padding: 1rem;
    line-height: 1rem;
    font-size: 1rem;
  }
}

@import "responsive";
